.eventAction {
	margin: 0 auto;
	max-width: 960px;
	padding: 0 40px;

    .title {
    	font-size: 1.2em;
		color: #414042;
    }
	

	.forms {
		width: 40%;
		margin: 0 auto;
		form label {
			width: 150px;
		}

		.playWrap {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;

			.play {
				margin-left: 5px;
			}
		}
	}
}