.eventsBrowser {
	max-width: 960px;
	margin: 100px auto;

	.eventsContainer {
		width: inherit;
	}

	.addedSettings {
		padding: 10px 20px;

		.eventFactor {
			background-color:  #fafafa;
			border: 0.5 solid #e6e7e8;
			padding: 10px 20px;
		}
	}
}