.eventSettings {
	margin-top: 10px;
	width: 100%;
	border: 0 solid #e6e7e8;
	border-bottom-width: 2px;
	min-height: 100px;
	background-color: #fafafa;

	.add {
		position: absolute;
		bottom: 10+10px; // module-padding
		right: 45+20px; // bootstrap-row-padding plus module-padding
	}
}
